#**Importações**

***Bibliotecas e instalações***

In [ ]:
pip install pandera

In [ ]:
import pandas as pd
import pandera as pa
from google.cloud import storage
import os

In [ ]:
pip install fsspec

In [ ]:
pip install gcsfs

***Importando DataFrame***

In [ ]:
df = pd.read_csv(r'gs://projetofinalgrupo8/entrada/LinkedIn_Profile_Data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head(10)

  c_id  avg_time_in_previous_position  ...  n_followers  face_quality
0    1                       2.000000  ...          420        67.662
1    2                       1.500000  ...          420        67.662
2    3                       1.333333  ...          420        67.662
3    4                       1.250000  ...          420        67.662
4    5                       1.200000  ...          420        67.662
5    6                       1.166667  ...          420        67.662
6    7                       2.000000  ...          420        67.662
7    8                       1.500000  ...          420        67.662
8    9                       1.333333  ...          420        67.662
9   10                       1.250000  ...          420        67.662

[10 rows x 49 columns]

#**Exploração dos dados**

***Verificando valores da coluna***

In [ ]:
df.avg_time_in_previous_position.unique()

array([ 2.        ,  1.5       ,  1.33333333,  1.25      ,  1.2       ,
        1.16666667,  1.        ,  1.66666667,  1.75      ,  4.        ,
        2.5       ,  1.14285714,  1.125     ,  1.11111111,  1.1       ,
        1.09090909,  3.        ,  2.33333333,  2.25      ,  1.83333333,
        1.71428571,  1.625     ,  1.55555556,  1.54545454,  1.46153846,
        1.42857143,  1.4       ,  5.        ,  3.5       ,  2.66666667,
        1.6       ,  1.8       ,  1.18181818,  3.33333333,  1.85714286,
        1.57142857,  4.5       ,  1.28571429,  2.2       ,  1.22222222,
        1.23076923,  1.21428571,  2.75      ,  2.4       ,  1.3       ,
        1.27272727,  1.1875    ,  1.17647059,  1.15789474,  1.15      ,
        1.13636364,  1.17391304,  1.16      ,  6.        ,  1.375     ,
        1.08333333,  1.07692308,  1.07142857,  1.44444444,  2.16666667,
        1.03448276,  1.03333333,  1.03225806,  1.03125   ,  1.03030303,
        1.02941177,  1.02857143,  1.02777778,  1.02702703,  1.02631579,
        1.02564103,  1.025     ,  1.02439024,  1.02380952,  1.02325581,
        1.02272727,  1.02222222,  1.02173913,  1.06666667,  1.0625    ,
        1.05882353,  1.05555556,  1.05263158,  2.375     ,  2.22222222,
        1.875     ,  1.77777778,  1.15384615, 12.        ,  6.5       ,
        4.66666667,  3.75      ,  1.13333333,  2.6       ,  2.14285714,
        2.125     ,  1.9       ,  1.81818182,  1.91666667,  1.84615385,
        1.78571429,  1.82352941,  1.78947368,  1.76190476,  1.72727273,
        1.69565217,  1.64      ,  1.61538461,  1.59259259,  1.55172414,
        1.53333333,  1.51612903,  1.48484849,  1.47058823,  1.54285714,
        1.52777778,  1.51351351,  1.48717949,  1.475     ,  1.48780488,
        1.47619048,  1.51162791,  1.48888889,  1.47826087,  1.46808511,
        1.45833333,  1.44897959,  8.        ,  7.        ,  1.45454546,
        1.05      ,  1.04761905,  1.04545454,  1.04347826,  1.04166667,
        1.58333333,  2.28571429,  3.66666667,  1.36363636,  1.30769231,
        1.26666667,  1.23529412,  1.21052632,  5.33333333,  4.25      ,
        1.35714286,  9.        ,  1.11764706,  1.41666667,  3.2       ,
        2.83333333,  1.10526316, 11.        , 10.        ,  1.7       ,
        5.5       ,  4.33333333,  1.20833333,  1.19230769,  1.18518518,
        1.17857143,  1.17241379,  1.16129032,  1.15625   ,  1.15151515,
        1.14705882,  1.13888889,  1.13513514,  1.13157895,  1.12820513,
        1.12195122,  1.11904762,  1.11627907,  3.25      ,  2.8       ,
        1.38461539,  1.3125    ,  1.29411765,  1.88888889,  1.03703704,
        1.03571429,  1.26086956,  1.29166667,  1.32      ,  1.39285714,
        1.37931034,  1.36666667,  1.35483871,  1.34375   ,  1.32352941,
        1.19047619, 15.        ,  5.66666667,  4.75      ,  1.04      ,
        1.03846154,  1.13043478,  1.12      ,  1.14814815,  1.13793103,
        1.12903226,  2.42857143,  1.76923077,  1.73333333,  1.76470588,
        1.72222222,  1.68421053,  1.77272727,  1.73913044,  1.70833333,
        1.68      ,  1.65384615,  1.62962963,  1.68965517,  1.64516129,
        1.60606061,  1.52631579,  1.43478261,  1.37037037,  1.34482759,
        1.32258064,  1.3030303 ,  1.27777778,  1.27027027,  1.26315789,
        1.25641026,  1.24390244,  1.23809524,  1.23255814,  1.22727273,
        1.2173913 ,  1.63636364,  1.53846154,  1.0952381 ,  1.08695652,
        1.11538461,  1.10714286,  1.10344828,  1.6875    ,  1.64705882,
        1.61111111,  1.57894737,  1.55      ,  1.52380952, 14.        ,
        8.5       ])

***Listando e verificando colunas especificas***

In [ ]:
df[['avg_time_in_previous_position','ethnicity','gender',	'glass','m_urn_id','no_of_previous_positions']].head(20)

    avg_time_in_previous_position ethnicity  ... m_urn_id no_of_previous_positions
0                        2.000000     Asian  ...     3008                        1
1                        1.500000     Asian  ...     3008                        2
2                        1.333333     Asian  ...     3008                        3
3                        1.250000     Asian  ...     3008                        4
4                        1.200000     Asian  ...     3008                        5
5                        1.166667     Asian  ...     3008                        6
6                        2.000000     Asian  ...     3008                        1
7                        1.500000     Asian  ...     3008                        2
8                        1.333333     Asian  ...     3008                        3
9                        1.250000     Asian  ...     3008                        4
10                       1.200000     Asian  ...     3008                        5
11                       1.166667     Asian  ...     3008                        6
12                       2.000000     Black  ...     3009                        1
13                       1.000000     White  ...     3010                        1
14                       1.000000     White  ...     3010                        2
15                       1.000000     White  ...     3011                        1
16                       1.000000     White  ...     3011                        2
17                       1.000000     White  ...     3011                        3
18                       1.000000     White  ...     3011                        4
19                       1.000000     White  ...     3011                        5

[20 rows x 6 columns]

***Verificando dimensão do DataFrame***

In [ ]:
df.shape

(62706, 49)

***Visualizando colunas existentes***

In [ ]:
df.columns

Index(['c_id', 'avg_time_in_previous_position', 'avg_current_position_length',
       'avg_previous_position_length', 'm_urn', 'm_urn_id', 'no_of_promotions',
       'no_of_previous_positions', 'current_position_length', 'age', 'beauty',
       'beauty_female', 'beauty_male', 'blur', 'emo_anger', 'emp_disgust',
       'emo_fear', 'emo_happiness', 'emo_neutral', 'emo_sadness',
       'emo_surprise', 'ethnicity', 'gender', 'glass', 'head_pitch',
       'head_roll', 'head_yaw', 'mouth_close', 'mouth_mask', 'mouth_open',
       'mouth_other', 'skin_acne', 'skin_dark_circle', 'skin_health',
       'skin_stain', 'smile', 'nationality', 'african', 'celtic_english',
       'east_asian', 'european', 'greek', 'hispanic', 'jewish', 'muslim',
       'nordic', 'south_asian', 'n_followers', 'face_quality'],
      dtype='object')

#Backup

In [ ]:
df2 = df.copy()

In [ ]:
df2.head(13)

   c_id  avg_time_in_previous_position  ...  n_followers  face_quality
0     1                       2.000000  ...          420        67.662
1     2                       1.500000  ...          420        67.662
2     3                       1.333333  ...          420        67.662
3     4                       1.250000  ...          420        67.662
4     5                       1.200000  ...          420        67.662
5     6                       1.166667  ...          420        67.662
6     7                       2.000000  ...          420        67.662
7     8                       1.500000  ...          420        67.662
8     9                       1.333333  ...          420        67.662
9    10                       1.250000  ...          420        67.662
10   11                       1.200000  ...          420        67.662
11   12                       1.166667  ...          420        67.662
12   13                       2.000000  ...         1676        32.126

[13 rows x 49 columns]

#Dropando colunas

In [ ]:
df2.shape

(62706, 49)

***Removendo colunas irrelevantes***

In [ ]:
df2 = df2.drop(['c_id','m_urn','avg_current_position_length','no_of_promotions','head_pitch','head_roll','head_yaw', 
                'mouth_close', 'mouth_mask', 'mouth_open','mouth_other','beauty',
                'skin_acne', 'skin_dark_circle', 'skin_health','skin_stain',
                'african', 'celtic_english','east_asian', 'european', 'greek',
                'hispanic', 'jewish', 'muslim','nordic', 'south_asian','beauty_female', 
                'beauty_male','avg_previous_position_length'], axis=1)

***Visualizando colunas restantes***

In [ ]:
df2.columns

Index(['avg_time_in_previous_position', 'm_urn_id', 'no_of_previous_positions',
       'current_position_length', 'age', 'blur', 'emo_anger', 'emp_disgust',
       'emo_fear', 'emo_happiness', 'emo_neutral', 'emo_sadness',
       'emo_surprise', 'ethnicity', 'gender', 'glass', 'smile', 'nationality',
       'n_followers', 'face_quality'],
      dtype='object')

***Removendo linhas com 'm_urn_id' repetidos***

In [ ]:
df2 = df2.drop_duplicates(subset=['m_urn_id'])

In [ ]:
df2.head(10)

    avg_time_in_previous_position  m_urn_id  ...  n_followers  face_quality
0                             2.0      3008  ...          420        67.662
12                            2.0      3009  ...         1676        32.126
13                            1.0      3010  ...          319         0.006
15                            1.0      3011  ...         2381        88.694
21                            1.0      3012  ...          332        55.399
23                            1.0      3013  ...          784        94.145
27                            1.0      3014  ...         1607        59.917
35                            1.0      3015  ...         2222        75.535
42                            1.0      3016  ...         1259        94.098
53                            2.0      3017  ...          331        87.997

[10 rows x 20 columns]

#Renomeando colunas

***Criando listas para renomear colunas***

In [ ]:
col_old = ['avg_time_in_previous_position', 'm_urn_id', 
           'no_of_previous_positions', 'age','blur', 'emo_anger', 
           'emp_disgust', 'emo_fear', 'emo_happiness','emo_neutral', 'emo_sadness','emo_surprise', 'ethnicity', 
           'gender', 'glass', 'smile', 'nationality','n_followers', 'face_quality']

col_new = ['tempo_cargo_anterior', 'id_usuario', 'promocoes','dias_cargo_anterior',
           'idade', 'desfoque', 'raiva', 'desgosto', 'medo','felicidade','neutro','triste', 'surpresa', 
           'etnia', 'genero', 'oculos','sorriso','nacionalidade','seguidores', 'qualidade_imagem']

In [ ]:
df2.columns = col_new

***Verificando colunas renomeadas***

In [ ]:
df2.columns

Index(['tempo_cargo_anterior', 'id_usuario', 'promocoes',
       'dias_cargo_anterior', 'idade', 'desfoque', 'raiva', 'desgosto', 'medo',
       'felicidade', 'neutro', 'triste', 'surpresa', 'etnia', 'genero',
       'oculos', 'sorriso', 'nacionalidade', 'seguidores', 'qualidade_imagem'],
      dtype='object')

#Identificando as colunas a serem traduzidas

***Selecionando apenas as colunas com string***

In [ ]:
df2.select_dtypes(include='object')

       etnia  genero  oculos   nacionalidade
0      Asian    Male  Normal      east_asian
12     Black  Female  Normal        hispanic
13     White    Male  Normal        hispanic
15     White    Male    None  celtic_english
21     White    Male  Normal  celtic_english
...      ...     ...     ...             ...
62684  White    Male  Normal     south_asian
62688  White    Male    None          nordic
62690  White    Male  Normal     south_asian
62695  White    Male  Normal  celtic_english
62697  White    Male    None        hispanic

[15257 rows x 4 columns]

#Vericando e modificando a coluna 'etnia'

***Consultando valores da coluna***

In [ ]:
df2['etnia'].unique()

array(['Asian', 'Black', 'White'], dtype=object)

***Realizando alterações dos valores***

In [ ]:
atnias_antigas = ['Asian', 'Black', 'White']
etnias_novas = ['Asiático','Negro','Branco']

In [ ]:
df2['etnia'] = df2['etnia'].replace(atnias_antigas, etnias_novas)

#Vericando e modificando a coluna 'genero'

***Verificando valores da coluna***

In [ ]:
df2['genero'].unique()

array(['Male', 'Female'], dtype=object)

***Realizando alterações dos valores***

In [ ]:
generos_antigos = ['Male','Female']
generos_novos = ['Masculino','Feminino']

In [ ]:
df2['genero'] = df2['genero'].replace(generos_antigos, generos_novos)

#Vericando e modificando a coluna 'oculos'

***Verificando valores da coluna***

In [ ]:
df2['oculos'].unique()

array(['Normal', 'None', 'Dark'], dtype=object)

***Realizando alterações dos valores***

In [ ]:
oculos_antigos = ['Normal', 'None', 'Dark']
oculos_novos = ['Oculos_comum', 'Nenhum', 'Oculos_escuros']

In [ ]:
df2['oculos'] = df2['oculos'].replace(oculos_antigos, oculos_novos)

#Vericando e modificando a coluna 'nacionalidade'

***Verificando valores da coluna***

In [ ]:
df2['nacionalidade'].unique()

array(['east_asian', 'hispanic', 'celtic_english', 'european', 'muslim',
       'south_asian', 'nordic', 'african', 'jewish', 'greek'],
      dtype=object)

***Realizando alterações dos valores***

In [ ]:
nacionalidades_antigas = ['east_asian', 'hispanic', 'celtic_english', 'european', 'muslim',
       'south_asian', 'nordic', 'african', 'jewish', 'greek']
nacionalidades_novas = ['asiatico_leste', 'hispanico', 'ingles', 'europeu', 'muculmano',
       'asiatico_sul', 'nordico', 'africano', 'judeu', 'grego']

In [ ]:
df2['nacionalidade'] = df2['nacionalidade'].replace(nacionalidades_antigas, nacionalidades_novas)

#Verificando a coluna 'idade'

In [ ]:
df2.head(3)

    tempo_cargo_anterior  id_usuario  ...  seguidores  qualidade_imagem
0                    2.0        3008  ...         420            67.662
12                   2.0        3009  ...        1676            32.126
13                   1.0        3010  ...         319             0.006

[3 rows x 20 columns]

***Consultando as idades***

In [ ]:
df2.idade.unique()

array([37, 39, 59, 31, 42, 51, 33, 50, 35, 47, 38, 61, 26, 44, 28, 60, 41,
       19, 46, 25, 30, 58, 48, 40, 52, 34, 56, 49, 36, 45, 27, 55, 43, 63,
       53, 57, 54, 20, 32, 22, 29, 65, 66, 23, 67, 24, 73, 71, 68, 13, 16,
       21, 62, 17, 18,  6, 70, 14, 69, 64, 12, 72, 78, 15,  7,  9, 74, 10,
       11,  4, 76,  8, 75, 80,  1, 77,  3])

***Filtrando idades menores que 16***

In [ ]:
indexIdades = df2[ df2['idade'] < 16 ].index

***Removendo as idades filtradas***

In [ ]:
df2.drop(indexIdades , inplace=True)

In [ ]:
df2.idade.unique()

array([37, 39, 59, 31, 42, 51, 33, 50, 35, 47, 38, 61, 26, 44, 28, 60, 41,
       19, 46, 25, 30, 58, 48, 40, 52, 34, 56, 49, 36, 45, 27, 55, 43, 63,
       53, 57, 54, 20, 32, 22, 29, 65, 66, 23, 67, 24, 73, 71, 68, 16, 21,
       62, 17, 18, 70, 69, 64, 72, 78, 74, 76, 75, 80, 77])

#Verificando inconsistências na coluna 'Cargo'

***Criando uma lista com os 'tempo_cargo_atual' menor que 0***

In [ ]:
indexCargos = df2[ df2['dias_cargo_anterior'] < 0 ].index

***Removendo valores negativos da coluna***

In [ ]:
df2.drop(indexCargos , inplace=True)

#Verificando os tipos de dados do DataFrame

In [ ]:
df2.dtypes

tempo_cargo_anterior    float64
id_usuario                int64
promocoes                 int64
dias_cargo_anterior       int64
idade                     int64
desfoque                float64
raiva                   float64
desgosto                float64
medo                    float64
felicidade              float64
neutro                  float64
triste                  float64
surpresa                float64
etnia                    object
genero                   object
oculos                   object
sorriso                 float64
nacionalidade            object
seguidores                int64
qualidade_imagem        float64
dtype: object

#Removendo inconsistências nas colunas 'Float'

In [ ]:
raiva100 = df2[df2["raiva"]> 100].index

In [ ]:
desgosto100 = df2[df2["desgosto"]> 100].index

In [ ]:
medo100 = df2[df2["medo"]> 100].index

In [ ]:
df2.drop(raiva100, inplace=True)

In [ ]:
df2.drop(desgosto100, inplace=True)

In [ ]:
df2.drop(medo100, inplace=True)

In [ ]:
df2.head(5)

   tempo_cargo_anterior  id_usuario  ...  seguidores  qualidade_imagem
0                   2.0        3008  ...         420            67.662
1                   1.0        3010  ...         319             0.006
2                   1.0        3012  ...         332            55.399
3                   1.0        3013  ...         784            94.145
4                   1.0        3014  ...        1607            59.917

[5 rows x 20 columns]

#Resetando Index

In [ ]:
df2 = df2.reset_index(drop=True)

In [ ]:
df2.tail()

       tempo_cargo_anterior  id_usuario  ...  seguidores  qualidade_imagem
11836                   1.0       15253  ...        1204            88.130
11837                   1.0       15254  ...         910            91.300
11838                   1.0       15255  ...         559            77.526
11839                   2.0       15256  ...         725            94.078
11840                   1.0       15257  ...         279            81.883

[5 rows x 20 columns]

#Validando Schema

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "tempo_cargo_anterior":pa.Column(pa.Float),
        "id_usuario":pa.Column(pa.Int),
        "promocoes":pa.Column(pa.Int),
        "dias_cargo_anterior":pa.Column(pa.Int),
        "idade":pa.Column(pa.Int),
        "desfoque":pa.Column(pa.Float),
        "raiva":pa.Column(pa.Float),
        "desgosto":pa.Column(pa.Float),
        "medo":pa.Column(pa.Float),
        "felicidade":pa.Column(pa.Float),
        "neutro":pa.Column(pa.Float),
        "triste":pa.Column(pa.Float),
        "surpresa":pa.Column(pa.Float),
        "etnia":pa.Column(pa.String),
        "genero":pa.Column(pa.String),
        "oculos":pa.Column(pa.String),
        "sorriso":pa.Column(pa.Float),
        "nacionalidade":pa.Column(pa.String),
        "seguidores":pa.Column(pa.Int),
        "qualidade_imagem":pa.Column(pa.Float),
    }
)

In [ ]:
schema.validate(df2)

       tempo_cargo_anterior  id_usuario  ...  seguidores  qualidade_imagem
0                       2.0        3008  ...         420            67.662
1                       1.0        3010  ...         319             0.006
2                       1.0        3012  ...         332            55.399
3                       1.0        3013  ...         784            94.145
4                       1.0        3014  ...        1607            59.917
...                     ...         ...  ...         ...               ...
11836                   1.0       15253  ...        1204            88.130
11837                   1.0       15254  ...         910            91.300
11838                   1.0       15255  ...         559            77.526
11839                   2.0       15256  ...         725            94.078
11840                   1.0       15257  ...         279            81.883

[11841 rows x 20 columns]

#Exportando DataFrame para o GCP

In [ ]:
from google.cloud import storage
import os
serviceAccount = '/content/projetofinalgrupo8-2dcd866c3f46.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('projetofinalgrupo8')
    
bucket.blob('saida/linkedin_tratado_pandas.csv').upload_from_string(df2.to_csv(index=False), 'text/csv')