#Bibliotecas

In [ ]:
import pandas as pd
from google.cloud import storage
import os

#Importando DataFrame

In [ ]:
df = pd.read_csv(r'https://storage.googleapis.com/projetofinalgrupo8/saida/data_drop_world.csv')
#df_sales_raw = pd.read_csv('data/train.csv', low_memory=False)

In [ ]:
df.head()

      video_id  ...      json_title
0  s9FH4rDMvds  ...  People & Blogs
1  jbGRowa5tIk  ...           Music
2  3EfkCrXKZNs  ...  People & Blogs
3  gBjox7vn3-g  ...          Gaming
4  npoUGx7UW7o  ...          Comedy

[5 rows x 14 columns]

#Verificando dimensão do DataFrame

In [ ]:
df.shape

(1021622, 14)

#Criando listas para renomear colunas

In [ ]:
col_old = ['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'trending_date', 'view_count', 'likes', 'dislikes', 'comment_count',
       'comments_disabled', 'ratings_disabled', 'country', 'json_title']

col_new = ['id_video', 'titulo_video', 'publicado_em', 'id_canal', 'nome_canal',
           'data_destaque', 'cont_visualizacao', 'curtidas', 'nao_curtidas', 'cont_comentarios',
           'comentarios_desabilitados', 'curtidas_desabilitadas', 'pais', 'categoria']

#Backup

In [ ]:
df2 = df.copy()

#Renomeando colunas

In [ ]:
df2.columns = col_new

In [ ]:
df2.head()

      id_video  ...       categoria
0  s9FH4rDMvds  ...  People & Blogs
1  jbGRowa5tIk  ...           Music
2  3EfkCrXKZNs  ...  People & Blogs
3  gBjox7vn3-g  ...          Gaming
4  npoUGx7UW7o  ...          Comedy

[5 rows x 14 columns]

#Vericando tipos de categorias

In [ ]:
df2['categoria'].unique()

array(['People & Blogs', 'Music', 'Gaming', 'Comedy', 'Sports',
       'Entertainment', 'Education', 'Autos & Vehicles', 'Howto & Style',
       'News & Politics', 'Science & Technology', 'Film & Animation',
       'Travel & Events', 'Pets & Animals', nan], dtype=object)

#Criando listas para renomear as categorias

In [ ]:
categoria_antiga = ['People & Blogs', 'Music', 'Gaming', 'Comedy', 'Sports',
       'Entertainment', 'Education', 'Autos & Vehicles', 'Howto & Style',
       'News & Politics', 'Science & Technology', 'Film & Animation',
       'Travel & Events', 'Pets & Animals']

categoria_nova = ['pessoas_e_blogs', 'musica', 'jogos', 'comedia', 'esportes',
                  'entretenimento', 'educacao', 'automoveis', 'como_faz_e_estilos',
                  'noticias_e_politicas', 'ciencias_e_tecnologia', 'filme_e_animacao',
                  'viagens_e_eventos', 'animais']

#Renomeando categorias

In [ ]:
df2['categoria'] = df2['categoria'].replace(categoria_antiga, categoria_nova)

#Verificando números de dados nulos

In [ ]:
df2.isna().sum()

id_video                        0
titulo_video                    0
publicado_em                    0
id_canal                        0
nome_canal                      1
data_destaque                   0
cont_visualizacao               0
curtidas                        0
nao_curtidas                    0
cont_comentarios                0
comentarios_desabilitados       0
curtidas_desabilitadas          0
pais                            0
categoria                    2951
dtype: int64

#Tratando os valores nulos da coluna "Categoria"

In [ ]:
import numpy as np

In [ ]:
categoria_antiga = ['People & Blogs', 'Music', 'Gaming', 'Comedy', 'Sports',
       'Entertainment', 'Education', 'Autos & Vehicles', 'Howto & Style',
       'News & Politics', 'Science & Technology', 'Film & Animation',
       'Travel & Events', 'Pets & Animals', np.nan]

categoria_nova = ['pessoas_e_blogs', 'musica', 'jogos', 'comedia', 'esportes',
                  'entretenimento', 'educacao', 'automoveis', 'como_faz_e_estilos',
                  'noticias_e_politicas', 'ciencias_e_tecnologia', 'filme_e_animacao',
                  'viagens_e_eventos', 'animais', 'outros']

In [ ]:
df2['categoria'] = df2['categoria'].replace(categoria_antiga, categoria_nova)

In [ ]:
df2.isna().sum()

id_video                     0
titulo_video                 0
publicado_em                 0
id_canal                     0
nome_canal                   1
data_destaque                0
cont_visualizacao            0
curtidas                     0
nao_curtidas                 0
cont_comentarios             0
comentarios_desabilitados    0
curtidas_desabilitadas       0
pais                         0
categoria                    0
dtype: int64

#Verificando nomes de canais com valor nulo

In [ ]:
df2[df2['nome_canal'].isnull()]

           id_video  ...        categoria
499155  9b9MovPPewk  ...  pessoas_e_blogs

[1 rows x 14 columns]

#Removendo linha com nome de canal nulo

In [ ]:
df2.drop(499155, inplace = True)

In [ ]:
df2.isna().sum()

id_video                     0
titulo_video                 0
publicado_em                 0
id_canal                     0
nome_canal                   0
data_destaque                0
cont_visualizacao            0
curtidas                     0
nao_curtidas                 0
cont_comentarios             0
comentarios_desabilitados    0
curtidas_desabilitadas       0
pais                         0
categoria                    0
dtype: int64

In [ ]:
df2.head(3)

      id_video  ...        categoria
0  s9FH4rDMvds  ...  pessoas_e_blogs
1  jbGRowa5tIk  ...           musica
2  3EfkCrXKZNs  ...  pessoas_e_blogs

[3 rows x 14 columns]

#Verificando os tipos de dados do DataFrame

In [ ]:
df2.dtypes

id_video                     object
titulo_video                 object
publicado_em                 object
id_canal                     object
nome_canal                   object
data_destaque                object
cont_visualizacao             int64
curtidas                      int64
nao_curtidas                  int64
cont_comentarios              int64
comentarios_desabilitados      bool
curtidas_desabilitadas         bool
pais                         object
categoria                    object
dtype: object

#Formatando datetime

In [ ]:
df2['publicado_em'] = pd.to_datetime(df2['publicado_em']).dt.strftime("%Y-%m-%d %H:%M:%S")
df2['publicado_em'] = pd.to_datetime(df2['publicado_em'])

In [ ]:
df2['data_destaque'] = pd.to_datetime(df2['data_destaque']).dt.strftime("%Y-%m-%d")
df2['data_destaque'] = pd.to_datetime(df2['data_destaque'])

In [ ]:
df2.sample()

           id_video  ... categoria
241849  aZBOJdM1jyU  ...  esportes

[1 rows x 14 columns]

#Informações gerais sobre os tipo de dados e quantidades de não nulos

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1021621 entries, 0 to 1021621
Data columns (total 14 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   id_video                   1021621 non-null  object
 1   titulo_video               1021621 non-null  object
 2   publicado_em               1021621 non-null  datetime64[ns]
 3   id_canal                   1021621 non-null  object
 4   nome_canal                 1021621 non-null  object
 5   data_destaque              1021621 non-null  datetime64[ns]
 6   cont_visualizacao          1021621 non-null  int64
 7   curtidas                   1021621 non-null  int64
 8   nao_curtidas               1021621 non-null  int64
 9   cont_comentarios           1021621 non-null  int64
 10  comentarios_desabilitados  1021621 non-null  bool
 11  curtidas_desabilitadas     1021621 non-null  bool
 12  pais                       1021621 non-null  object
 13  categoria                  1021621 non-null  object
dtypes: bool(2), datetime64[ns](2), int64(4), object(6)
memory usage: 103.3+ MB

In [ ]:
df2

            id_video  ...             categoria
0        s9FH4rDMvds  ...       pessoas_e_blogs
1        jbGRowa5tIk  ...                musica
2        3EfkCrXKZNs  ...       pessoas_e_blogs
3        gBjox7vn3-g  ...                 jogos
4        npoUGx7UW7o  ...               comedia
...              ...  ...                   ...
1021617  I-Bz1uGMcdw  ...        entretenimento
1021618  DoyhJP_e7JQ  ...                 jogos
1021619  1xH8kzEzMuM  ...  noticias_e_politicas
1021620  CgVhSYkL7lM  ...  noticias_e_politicas
1021621  BQGWqejRgTU  ...                musica

[1021621 rows x 14 columns]

#Exportando DataFrame para o GCP

In [ ]:
from google.cloud import storage
import os
serviceAccount = '/content/projetofinalgrupo8-2dcd866c3f46.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount


client = storage.Client()
bucket = client.get_bucket('projetofinalgrupo8')
    
bucket.blob('saida/data_tratado_pandas.csv').upload_from_string(df2.to_csv(index=False), 'text/csv')