In [ ]:
#crtl f9 inicializar tudo

#Importações

***Bibliotecas e instalações***

In [ ]:
pip install pyspark

In [ ]:
pip install fsspec

In [ ]:
pip install gcsfs

Importando funcções padrão. Função Window também importada porque será usado mais na frente

In [ ]:
import os
from google.cloud import storage

from pyspark.sql import SparkSession, Window
spark = SparkSession.builder.appName('GCSFilesRead').getOrCreate()

import pyspark.sql.functions as F
from pyspark.sql.functions import to_timestamp, to_date

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType,BooleanType,DateType,TimestampType
import pandas as pd

# Criando Esquema e Dataframe

In [ ]:
customSchema = StructType([
   StructField("tempo_cargo_anterior", DoubleType(),True),
   StructField("id_usuario", IntegerType(),True),
   StructField("promocoes", IntegerType(),True),
   StructField("dias_cargo_anterior", IntegerType(),True),
   StructField("idade", IntegerType(),True),
   StructField("desfoque", DoubleType(),True),
   StructField("raiva", DoubleType(),True),
   StructField("desgosto", DoubleType(),True),
   StructField("medo", DoubleType(),True),
   StructField("felicidade", DoubleType(),True),
   StructField("neutro", DoubleType(),True),
   StructField("triste", DoubleType(),True),
   StructField("surpresa", DoubleType(),True),
   StructField("etnia", StringType(),True),
   StructField("genero", StringType(),True),
   StructField("oculos", StringType(),True),
   StructField("sorriso", DoubleType(),True),
   StructField("nacionalidade", StringType(),True),
   StructField("seguidores", IntegerType(),True),
   StructField("qualidade_imagem", DoubleType(),True)

])

schema = customSchema

In [ ]:

dfspark = pd.read_csv('gs://projetofinalgrupo8/saida/linkedin_tratado_pandas.csv', sep=',', header=0)
df= spark.createDataFrame(dfspark,schema=schema)

In [ ]:
df.show(20)

+--------------------+----------+---------+-------------------+-----+--------+-----+--------+----+----------+------+------+--------+--------+---------+------------+-------+--------------+----------+----------------+
|tempo_cargo_anterior|id_usuario|promocoes|dias_cargo_anterior|idade|desfoque|raiva|desgosto|medo|felicidade|neutro|triste|surpresa|   etnia|   genero|      oculos|sorriso| nacionalidade|seguidores|qualidade_imagem|
+--------------------+----------+---------+-------------------+-----+--------+-----+--------+----+----------+------+------+--------+--------+---------+------------+-------+--------------+----------+----------------+
|                 2.0|      3008|        1|                457|   37|    0.42| 76.6|     0.7| 0.7|     99.04|  0.09|  0.01|    0.09|Asiático|Masculino|Oculos_comum|  77.54|asiatico_leste|       420|           67.66|
|                 1.0|      3010|        1|               1827|   37|   64.26|  8.2|     8.2| 8.2|      9.59| 63.07|   0.1|    27.0|  Branco|Masculino|Oculos_comum|  63.77|     hispanico|       319|            0.01|
|                 1.0|      3012|        1|                243|   31|    2.13|  0.7|    17.5| 5.7|     73.23| 14.74|  0.01|   11.78|  Branco|Masculino|Oculos_comum|   6.67|        ingles|       332|            55.4|
|                 1.0|      3013|        1|               3925|   42|    0.35|  0.0|     0.0| 0.0|     100.0|   0.0|   0.0|     0.0|  Branco| Feminino|      Nenhum|  97.43|     hispanico|       784|           94.15|
|                 1.0|      3014|        1|                699|   51|    0.32|  1.5|    34.7|29.4|     98.66|  0.09|  0.02|    0.58|  Branco| Feminino|      Nenhum|  98.94|        ingles|      1607|           59.92|
|                 1.0|      3015|        1|                 61|   42|    0.37|  0.0|     0.0| 0.0|     100.0|   0.0|   0.0|     0.0|  Branco|Masculino|      Nenhum|  94.81|       europeu|      2222|           75.54|
|                 1.0|      3016|        1|                395|   33|    0.36|  0.0|     0.0| 0.0|     96.42|  3.44|   0.0|    0.14|Asiático|Masculino|Oculos_comum|  10.48|asiatico_leste|      1259|            94.1|
|                 2.0|      3017|        1|               1096|   50|    2.31|  0.0|     0.0| 0.0|     100.0|   0.0|   0.0|     0.0|  Branco|Masculino|      Nenhum|   95.8|        ingles|       331|            88.0|
|                 1.0|      3018|        1|                913|   35|    0.37|  0.9|    65.0| 0.4|     56.51| 42.82|  0.01|     0.0|Asiático|Masculino|Oculos_comum|   35.2|asiatico_leste|      1634|           84.12|
|                 4.0|      3020|        1|                820|   39|    0.36|  0.7|     0.7|23.1|     92.46|  7.29|  0.01|    0.01|  Branco|Masculino|      Nenhum|  31.03|asiatico_leste|       213|           92.84|
|                 1.0|      3022|        1|               1216|   61|    3.37|  0.2|     2.1|19.4|     99.78|   0.0|   0.0|     0.0|  Branco|Masculino|      Nenhum|  97.18|        ingles|       412|           79.34|
|                 2.0|      3023|        1|               1765|   26|    0.21| 34.7|    34.7|93.3|     76.71|  5.52|  0.88|   15.26|  Branco| Feminino|Oculos_comum|   9.65|  asiatico_sul|       387|           91.35|
|                 1.0|      3024|        1|               1341|   51|    0.11|  0.0|     0.0| 1.8|     99.98|   0.0|   0.0|     0.0|  Branco|Masculino|Oculos_comum|  96.91|        ingles|       770|           81.47|
|                 1.0|      3025|        1|                699|   44|    0.39|  0.0|     0.1| 0.0|     100.0|   0.0|   0.0|     0.0|  Branco|Masculino|Oculos_comum|  72.06|        ingles|       444|           88.17|
|                 1.0|      3026|        1|                303|   28|    0.97|  0.2|     1.2| 1.0|     99.98|   0.0|   0.0|     0.0|Asiático| Feminino|      Nenhum|  94.93|asiatico_leste|      1162|            88.9|
|                 1.0|      3028|        1|                151|   41|    1.05|  0.0|     0.0| 0.1|     100.0|   0.0|   0.0|     0.0|Asiático|Masculino|      Nenhum|  84.27|        ingles|       227|           91.74|
|                 1.0|      3029|        1|               2496|   37|   11.28|  0.3|     0.1| 0.0|     99.99|   0.0|   0.0|     0.0|Asiático| Feminino|      Nenhum|  96.04|        ingles|       591|           79.83|
|                 2.0|      3030|        1|                546|   59|    3.45|  0.4|     0.1| 7.0|     99.92|   0.0|   0.0|     0.0|  Branco| Feminino|      Nenhum|  99.68|        ingles|      1827|           74.73|
|                 1.0|      3031|        1|               1156|   19|    0.34|  0.0|     0.0| 0.0|     100.0|   0.0|   0.0|     0.0|Asiático|Masculino|Oculos_comum|  96.61|        ingles|       291|           87.86|
|                 1.0|      3034|        1|                700|   59|     0.1|  0.0|     0.1| 0.0|     76.85| 23.15|   0.0|     0.0|  Branco|Masculino|      Nenhum|  48.59|        ingles|      5977|            89.0|
+--------------------+----------+---------+-------------------+-----+--------+-----+--------+----+----------+------+------+--------+--------+---------+------------+-------+--------------+----------+----------------+
only showing top 20 rows

#Arredondando os valores das colunas necessárias

In [ ]:
df = (df.withColumn("tempo_cargo_anterior",F.round(F.col("tempo_cargo_anterior"),2))
        .withColumn("desfoque",F.round(F.col("desfoque"),2))
        .withColumn("raiva",F.round(F.col("raiva"),2))
        .withColumn("felicidade",F.round(F.col("felicidade"),2))
        .withColumn("neutro",F.round(F.col("neutro"),2))
        .withColumn("triste",F.round(F.col("triste"),2))
        .withColumn("surpresa",F.round(F.col("surpresa"),2))
        .withColumn("sorriso",F.round(F.col("sorriso"),2))
        .withColumn("qualidade_imagem",F.round(F.col("qualidade_imagem"),2))      
)

In [ ]:
df.show(5)

+--------------------+----------+---------+-------------------+-----+--------+-----+--------+----+----------+------+------+--------+--------+---------+------------+-------+--------------+----------+----------------+
|tempo_cargo_anterior|id_usuario|promocoes|dias_cargo_anterior|idade|desfoque|raiva|desgosto|medo|felicidade|neutro|triste|surpresa|   etnia|   genero|      oculos|sorriso| nacionalidade|seguidores|qualidade_imagem|
+--------------------+----------+---------+-------------------+-----+--------+-----+--------+----+----------+------+------+--------+--------+---------+------------+-------+--------------+----------+----------------+
|                 2.0|      3008|        1|                457|   37|    0.42| 76.6|     0.7| 0.7|     99.04|  0.09|  0.01|    0.09|Asiático|Masculino|Oculos_comum|  77.54|asiatico_leste|       420|           67.66|
|                 1.0|      3010|        1|               1827|   37|   64.26|  8.2|     8.2| 8.2|      9.59| 63.07|   0.1|    27.0|  Branco|Masculino|Oculos_comum|  63.77|     hispanico|       319|            0.01|
|                 1.0|      3012|        1|                243|   31|    2.13|  0.7|    17.5| 5.7|     73.23| 14.74|  0.01|   11.78|  Branco|Masculino|Oculos_comum|   6.67|        ingles|       332|            55.4|
|                 1.0|      3013|        1|               3925|   42|    0.35|  0.0|     0.0| 0.0|     100.0|   0.0|   0.0|     0.0|  Branco| Feminino|      Nenhum|  97.43|     hispanico|       784|           94.15|
|                 1.0|      3014|        1|                699|   51|    0.32|  1.5|    34.7|29.4|     98.66|  0.09|  0.02|    0.58|  Branco| Feminino|      Nenhum|  98.94|        ingles|      1607|           59.92|
+--------------------+----------+---------+-------------------+-----+--------+-----+--------+----+----------+------+------+--------+--------+---------+------------+-------+--------------+----------+----------------+
only showing top 5 rows

#Utilizando o comando 'GroupBy'

In [ ]:
df.groupBy("id_usuario").avg("tempo_cargo_anterior").show(10,truncate=False)

+----------+-------------------------+
|id_usuario|avg(tempo_cargo_anterior)|
+----------+-------------------------+
|3175      |1.0                      |
|3749      |1.0                      |
|3794      |1.0                      |
|3918      |1.0                      |
|3997      |2.0                      |
|4101      |1.0                      |
|4900      |1.0                      |
|4935      |1.0                      |
|5156      |1.0                      |
|5300      |1.0                      |
+----------+-------------------------+
only showing top 10 rows

***Agrupando a coluna "nacionalidade" e utilizando Aggregate para fazer pesquisas***

In [ ]:
(df.groupBy(F.col("nacionalidade")).agg(
            F.round(F.mean("promocoes"), 2).alias("media_promocoes"),
            F.round(F.max("promocoes"), 2).alias("max_promocoes"),
            F.round(F.mean("idade"), 2).alias("media_idade"),
            F.round(F.min("idade"), 2).alias("min_idade"),
            F.max("idade").alias("max_idade")
            ).orderBy("max_promocoes")
            .show())

+--------------+---------------+-------------+-----------+---------+---------+
| nacionalidade|media_promocoes|max_promocoes|media_idade|min_idade|max_idade|
+--------------+---------------+-------------+-----------+---------+---------+
|asiatico_leste|            1.0|            1|      34.37|       16|       75|
|        ingles|            1.0|            1|      47.14|       16|       80|
|     muculmano|            1.0|            1|      40.71|       19|       71|
|         judeu|            1.0|            1|      47.16|       26|       66|
|         grego|            1.0|            1|       44.6|       22|       69|
|       europeu|            1.0|            1|      44.73|       17|       73|
|     hispanico|            1.0|            1|      42.51|       16|       76|
|  asiatico_sul|            1.0|            1|      38.04|       16|       71|
|       nordico|            1.0|            1|      47.35|       26|       70|
|      africano|            1.0|            1|      40.68|       20|       68|
+--------------+---------------+-------------+-----------+---------+---------+


***Agrupando a coluna "idade" e utilizando Aggregate para fazer pesquisas***

In [ ]:
(df.groupBy(F.col("idade")).agg(
            F.round(F.max("qualidade_imagem"), 2).alias("max_qualidade"),
            F.round(F.mean("qualidade_imagem"), 2).alias("media_qualidade"),
            F.round(F.min("qualidade_imagem"), 2).alias("min_qualidade")
            ).orderBy("media_qualidade").show(20))

+-----+-------------+---------------+-------------+
|idade|max_qualidade|media_qualidade|min_qualidade|
+-----+-------------+---------------+-------------+
|   80|         0.01|           0.01|         0.01|
|   75|         0.01|           0.01|         0.01|
|   76|        88.55|          29.52|         0.01|
|   66|        93.04|          58.39|         0.01|
|   61|        94.28|          59.42|         0.01|
|   62|        94.43|          62.88|         0.01|
|   58|        94.48|          63.32|         0.01|
|   71|        92.44|          63.32|         0.01|
|   36|        94.66|          64.39|         0.01|
|   63|        94.49|          64.45|         0.01|
|   23|        94.49|          64.71|         0.01|
|   19|        94.01|          64.88|         0.01|
|   21|        94.32|          65.32|         0.01|
|   35|        94.68|           65.5|         0.01|
|   38|        94.79|          65.62|         0.01|
|   64|        94.66|          65.67|         0.01|
|   30|        94.79|          65.69|         0.01|
|   32|        94.72|          65.73|         0.01|
|   55|        94.48|          65.81|         0.01|
|   27|        94.53|          65.98|         0.01|
+-----+-------------+---------------+-------------+
only showing top 20 rows

In [ ]:
(df.groupBy(F.col("idade")).agg(
            F.count("idade").alias("quantidade"),
            F.round(F.max("sorriso"), 2).alias("max_sorriso"),
            F.round(F.mean("sorriso"), 2).alias("media_sorriso"),
            F.round(F.min("sorriso"), 2).alias("min_sorriso")
            ).orderBy("idade").show(20))

+-----+----------+-----------+-------------+-----------+
|idade|quantidade|max_sorriso|media_sorriso|min_sorriso|
+-----+----------+-----------+-------------+-----------+
|   16|        18|      99.37|         74.7|       3.96|
|   17|        14|      99.58|        62.45|       3.54|
|   18|        23|      99.23|        65.08|        1.6|
|   19|        43|      99.48|        68.52|       2.01|
|   20|        55|      98.96|        63.91|       1.84|
|   21|        61|      99.19|        59.87|       1.12|
|   22|        78|      99.46|        50.66|       0.43|
|   23|        76|       99.0|         57.8|       1.21|
|   24|       107|      98.94|        62.05|       0.73|
|   25|       104|      99.67|        61.34|       0.54|
|   26|       147|      99.51|        55.28|       0.45|
|   27|       172|      99.62|        53.83|       0.54|
|   28|       174|      99.75|         57.8|       0.42|
|   29|       163|       99.4|        58.47|       0.92|
|   30|       216|      99.73|        59.85|       0.32|
|   31|       243|       99.5|        60.22|       0.69|
|   32|       258|      99.61|         61.4|       0.28|
|   33|       277|      99.54|        60.02|       0.79|
|   34|       294|      99.83|        53.81|       0.08|
|   35|       295|      99.64|        60.04|        0.5|
+-----+----------+-----------+-------------+-----------+
only showing top 20 rows


Agrupando a coluna "genero" e utilizando Aggregate para fazer pesquisas

In [ ]:
(df.groupBy(F.col("genero")).agg(
            F.round(F.mean("promocoes"), 2).alias("media_promocoes"),
            F.round(F.max("promocoes"), 2).alias("max_promocoes"),
            F.round(F.mean("idade"), 2).alias("media_idade"),
            F.round(F.min("idade"), 2).alias("min_idade"),
            F.max("idade").alias("maior_idade")
            ).orderBy("max_promocoes").show())

+---------+---------------+-------------+-----------+---------+-----------+
|   genero|media_promocoes|max_promocoes|media_idade|min_idade|maior_idade|
+---------+---------------+-------------+-----------+---------+-----------+
| Feminino|            1.0|            1|      42.55|       16|         80|
|Masculino|            1.0|            1|      43.23|       16|         76|
+---------+---------------+-------------+-----------+---------+-----------+

#Utilizando o comando 'Window'

***Odernando por idade e selecionando apenas algumas colunas***

In [ ]:
w0 = Window.partitionBy(F.col("idade")).orderBy("idade")

(df.withColumn("Rank",F.rank().over(w0))
  .withColumn("idade",F.max(F.col("idade")).over(w0))
  .select("id_usuario","genero","idade","nacionalidade","dias_cargo_anterior")
  .filter(F.col("dias_cargo_anterior") >1).show(10)
)

+----------+---------+-----+--------------+-------------------+
|id_usuario|   genero|idade| nacionalidade|dias_cargo_anterior|
+----------+---------+-----+--------------+-------------------+
|      3511|Masculino|   16|asiatico_leste|               1003|
|      3635|Masculino|   16|     hispanico|                366|
|      4451|Masculino|   16|     hispanico|                 61|
|      4902|Masculino|   16|        ingles|                152|
|      6235|Masculino|   16|asiatico_leste|               1219|
|      6990| Feminino|   16|asiatico_leste|                762|
|      7008| Feminino|   16|        ingles|                730|
|      7962| Feminino|   16|asiatico_leste|                 61|
|      8158| Feminino|   16|asiatico_leste|                640|
|      9054| Feminino|   16|     hispanico|               3012|
+----------+---------+-----+--------------+-------------------+
only showing top 10 rows

***Odernando por "nacionalidade" e selecionando apenas algumas colunas***

In [ ]:
w0 = Window.partitionBy(F.col("nacionalidade")).orderBy("idade")

(df.withColumn("Rank",F.rank().over(w0))
  .withColumn("idade",F.max(F.col("idade")).over(w0))
  .select("id_usuario","genero","idade","nacionalidade","dias_cargo_anterior","sorriso","oculos")
  .filter(F.col("idade") >20).show(50)
)

+----------+---------+-----+-------------+-------------------+-------+------------+
|id_usuario|   genero|idade|nacionalidade|dias_cargo_anterior|sorriso|      oculos|
+----------+---------+-----+-------------+-------------------+-------+------------+
|     12566|Masculino|   23|     africano|               1186|  10.35|      Nenhum|
|      9275|Masculino|   24|     africano|               2496|  13.02|      Nenhum|
|      4882|Masculino|   25|     africano|                913|  71.17|Oculos_comum|
|       167|Masculino|   27|     africano|               1614|  16.38|      Nenhum|
|     10068| Feminino|   27|     africano|               1157|  85.31|      Nenhum|
|      1548|Masculino|   28|     africano|                182|   94.3|      Nenhum|
|     13717|Masculino|   28|     africano|               1491|  79.92|Oculos_comum|
|      3402|Masculino|   29|     africano|                 92|  84.55|      Nenhum|
|      7393| Feminino|   29|     africano|                792|   97.0|Oculos_comum|
|      1418| Feminino|   29|     africano|                335|  96.14|      Nenhum|
|     10843|Masculino|   29|     africano|                123|  22.72|      Nenhum|
|      6556|Masculino|   30|     africano|                947|   9.36|Oculos_comum|
|      7473| Feminino|   30|     africano|                213|  29.24|      Nenhum|
|     13095|Masculino|   30|     africano|                365|  98.69|      Nenhum|
|      8107| Feminino|   31|     africano|                212|  75.42|      Nenhum|
|      2518|Masculino|   31|     africano|                396|  98.17|Oculos_comum|
|     10264|Masculino|   31|     africano|                303|  76.07|      Nenhum|
|      6451|Masculino|   32|     africano|               1645|  32.75|      Nenhum|
|      2700|Masculino|   32|     africano|                638|  83.51|Oculos_comum|
|     10173|Masculino|   32|     africano|               1127|  44.72|Oculos_comum|
|     15229|Masculino|   32|     africano|                365|  99.41|      Nenhum|
|      6270| Feminino|   33|     africano|                 92|  99.36|      Nenhum|
|      1747|Masculino|   33|     africano|                731|  68.33|      Nenhum|
|      5210|Masculino|   34|     africano|               2222|  98.22|      Nenhum|
|      6768| Feminino|   34|     africano|               2709|  77.48|      Nenhum|
|       269|Masculino|   35|     africano|               2556|  56.35|Oculos_comum|
|     14304|Masculino|   35|     africano|                365|   5.42|      Nenhum|
|      1140|Masculino|   36|     africano|                184|  97.76|      Nenhum|
|      8670| Feminino|   37|     africano|                883|   88.5|      Nenhum|
|      1933|Masculino|   37|     africano|               2009|  31.38|Oculos_comum|
|     13885|Masculino|   37|     africano|                518|  82.79|      Nenhum|
|      5171|Masculino|   38|     africano|                517|  95.86|      Nenhum|
|      7470|Masculino|   38|     africano|                699|  62.04|      Nenhum|
|      9620|Masculino|   38|     africano|                242|  21.41|      Nenhum|
|     15002| Feminino|   38|     africano|               1067|  16.24|Oculos_comum|
|     12015|Masculino|   39|     africano|                365|  78.77|      Nenhum|
|     12365|Masculino|   39|     africano|                335|   98.8|      Nenhum|
|      6016|Masculino|   40|     africano|                334|   5.47|      Nenhum|
|      2777|Masculino|   40|     africano|                944|  90.83|      Nenhum|
|     10960|Masculino|   40|     africano|                792|  97.93|      Nenhum|
|      9122|Masculino|   41|     africano|               1522|  22.42|Oculos_comum|
|      9137|Masculino|   41|     africano|               1430|  31.23|      Nenhum|
|       113|Masculino|   41|     africano|               2436|  14.65|      Nenhum|
|      2488|Masculino|   41|     africano|                  0|  96.87|      Nenhum|
|     12186|Masculino|   41|     africano|               1096|   4.24|      Nenhum|
|     14038|Masculino|   41|     africano|               1461|  18.35|      Nenhum|
|      3182|Masculino|   43|     africano|               2375|  97.76|      Nenhum|
|      3854| Feminino|   43|     africano|                700|  76.86|      Nenhum|
|      5182|Masculino|   43|     africano|                550|  10.61|      Nenhum|
|      6110|Masculino|   43|     africano|               2526|  72.51|      Nenhum|
+----------+---------+-----+-------------+-------------------+-------+------------+
only showing top 50 rows

#Salvando no bucket

In [ ]:
serviceAccount = '/content/projetofinalgrupo8-2dcd866c3f46.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

client = storage.Client()
bucket = client.get_bucket('projetofinalgrupo8')

bucket.blob('saida/linkedin_tratado_pyspark.csv').upload_from_string(df.toPandas().to_csv(index=False), 'text/csv')